$white-color: #fff;
$ticker-border: #dadce0;
$icon-green: #e6f4ea;
$icon-color: #c5f7d6;
$logo-color: #5f6368;
$black-color: #000;
$icon-red: #fce8e6;
$text-red: #c5221f;
$text-green: #137333;